* {
    margin: 0;
    padding: 0;

}

body {
    max-width: 1220px;
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(to bottom, #040918, #091540) no-repeat;
    height: 100vh;
}


.container {
    width: 100%;
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    background-color: hsl(224, 26%, 16%);
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #252526;
    margin-bottom: 100px;
    padding: 10px;
}

.logo img {
    width: 150px;
}

.icon {
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title h1 {
    font-size: 30px;
    color: hsl(222, 11%, 82%);
    font-weight: 400;
}

.filter-list-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 14px;
    background-color: hsl(227, 23%, 24%);
    color: #d4d4d4;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 1px solid #d4d4d4;

}

.active {
    background-color: hsl(3, 84%, 64%);
    color: hsl(339, 60%, 16%);
}

.filter-btn:hover {
    transform: scale(1.1);
}

.list-container {
    padding: 10px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list-title h1 {
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

.filter-list-buttons .filter-btn {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border-radius: 5px;
}


.lists-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.extension-card {
    background: hsl(224, 26%, 16%);
    border-radius: 10px;
    height: auto;
    padding: 15px;
    align-content: space-between;
    transition: opacity 0.3s ease;
}

.extension-card.inactive {
    opacity: 0.7;
}

.extension-header {
    display: flex;
    margin-bottom: 10px;
}

.extension-logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
}

.extension-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 8px;

}

.extension-name {
    font-size: 18px;
    margin: 0;
    color: hsl(210, 12%, 90%);
}

.extension-description {
    font-size: 15px;
    color: hsl(226, 6%, 57%);
    margin-bottom: 15px;
}

.extension-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension-footer > .btn-remove {
    color: white;
    background: hsl(224, 26%, 16%);
    padding: 8px;
    border: 1px solid hsl(216, 6%, 85%);
    border-radius: 8px;
    cursor: pointer;
}

.extension-footer > .btn-remove:hover {
    color: hsl(224, 26%, 16%);
    background: hsl(216, 6%, 85%);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 20px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

.toggle-checkbox:checked + .toggle-slider {
    background-color: #ff5555;
}

.toggle-checkbox:checked + .toggle-slider:before {
    transform: translateX(20px);
}

body .dark-mode {
    background: linear-gradient(to bottom, #050a1d, #081235);
    height: fit-content;
}

body.light-mode {
    background: linear-gradient(to bottom, hsl(206, 73%, 96%), hsl(201, 64%, 96%));
    color: black;

    .header {
        background-color: hsl(220, 100%, 99%);
        border-bottom: none;
    }

    .icon {
        background-color: hsl(60, 3%, 93%);
        padding: 8px;
        border-radius: 8px;

    }

    .logo {

        -webkit-background-clip: text;
        background-clip: text;
        background-color: hsl(224, 26%, 16%);
        color: black;
    }

    .list-title h1 {
        color: hsl(227, 70%, 13%);
        font-size: 30px;
        font-weight: 500;
    }

    .extension-card {
        background: hsl(220, 100%, 99%);
    }

    .extension-name {
        color: hsl(226, 49%, 18%);
    }

    .filter-btn {
        background: hsl(200, 100%, 99%);
        color: hsl(226, 49%, 18%);
    }

    .active {
        background-color: hsl(3, 84%, 64%);
    }

    .btn-remove {
        background-color: hsl(180, 100%, 100%);
        color: hsl(226, 7%, 48%);
    }
}

